.food-item {
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: transform 300ms ease, box-shadow 300ms ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.food-item:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px) scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-img-container {
  position: relative;
}
.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.food-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}
.food-item-img-container .add:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.food-item-counter .remove {
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.food-item-counter .remove:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-3px);
  transition: transform 0.1s ease-in-out;
}
.food-item-counter .add-green {
  width: 30px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.food-item-counter .add-green:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  transform: translateY(-3px);
  transition: transform 0.1s ease-in-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateZ(100px);
    scale: 0.2;
  }
  to {
    opacity: 1;
    transform: translateZ(0);
    scale: 1;
  }
}

@keyframes fadeAppear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.food-item-img {
  border-radius: 15px 15px 0 0;
}
.food-item-counter {
  animation: fadeUp 0.7s ease-in-out;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px !important;
  border-radius: 50px;
  background-color: white;
}
.fade-appear {
  animation: fadeAppear 0.7s ease-in-out;
}
