/* 
background-color: #c9d6ff;
backgrond: linear-gradient(to right,#e2e2e2, #c9d6ff);
display flex 
align-items: center 
justify-content: center
*/
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  border-radius: 8px;
  animation: fadeIn 1.5s;
}
.box a {
  cursor: pointer;
}
.container {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  width: 850px;
  max-width: 100%;
  min-height: 480px;
}
.container h1 {
  font-weight: 600;
  font-size: 20px;
}
.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.container span {
  font-size: 12px;
}
.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}
.container button {
  background-color: #ff4500;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.container button:hover {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
  scale: 1.1;
}
.container button.hidden_button {
  background-color: transparent;
  border-color: #fff;
}
.container button.hidden_button:hover {
  scale: 1.1;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-in-out;
}
.container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}
.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
  padding-left: 10px;
  padding: 9px;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
/* .form-container.password img {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%)
} */
.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}
.container.active .sign-in {
  transform: translateX(100%);
}
.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
  border-radius: 150px 0 0 100px;
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}
.toggle {
  background-color: orangered;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 182, 48), rgb(255, 85, 23));
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}
.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}
.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

/* Mobile View */

.mobile-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: auto;
  width: auto;
  padding-top: 10vh;
  background: linear-gradient(to right, rgb(255, 182, 48), rgb(255, 85, 23));
  padding-inline: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
  position: relative;
}
.activeMobile {
  display: none;
}

.form-container-mobile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
  animation: fadeIn 1.5s;
}
.mobile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.mobile-menu input {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  padding: 6px 6px;
  outline-offset: 2px;
}
.mobile-menu h1 {
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0px;
  font-size: 20px;
}
.mobile-menu a {
  text-decoration: underline;
  color: orangered;
  padding: 2px;
}
.mobile-menu button {
  background-color: #ff4500;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
.mobile-menu button:hover {
  background-color: #000000;
  transition: all 0.3s ease-in-out;
  scale: 1.1;
}
.box input:focus {
  outline: none;
  box-shadow: 0 0 0 2px orangered;
  transition: box-shadow 0.2s ease;
}
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateZ(400px);
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
    transform: translateY(0);
  }
}
