.scroll-indicator {
  position: absolute;
  right: 0px;
  top: 20vh;
  /* left: 100px; */
  width: 70px;
  height: 100px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  /* background: linear-gradient(to left, rgba(255, 255, 255, 0.8), transparent); */
  pointer-events: none;
  z-index: 1;
  /* margin-left: 10px; */
  background: rgba(255, 255, 255, 0.5);
  /* border-radius: 20px; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.27),
    inset 0 0 1px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.scroll-indicator img {
    width: 30px;
    
}
