.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4% !important;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* shadow-2xl */
  }
  
  .logo_admin {
    display: flex;
    flex-direction: column;
  }
  .logo_admin h1 {
    font-weight: 600;
    color: #262626;
  }
  .logo {
    width: max(30px, 4%);
    margin-left: 10px !important;
  }
  
  .admin-title {
    font-weight: 600;
    color: #262626;
  }
  
  .profile {
    width: 40px;
  }
  